@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle at center,#090909,#000000 90% );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.nixie-clock{
    display: flex;
    gap:15px;
    background: rgba(255,255,255,0.02);
    padding: 40px 70px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255,80,0,0.4);
    position: relative;
}
.tube{
     font-family: 'orbitron',sans-serif; 
    font-size: 6rem;
    background: radial-gradient(circle,#2a2a2a 30%,#000);
    color:#ff6600;
    padding: 20px 35px;
    border-radius: 20px;
    text-shadow: 0 0 20px #ff5500,
                  0 0 40px #ff7700,
                  0 0 80px #ff7700;
    box-shadow:  inset 0 0 20px #ff6600,
                  0 0 25px rgba(255,100,0,0.8);

}
.separtor{
    font-size: 6rem;
    color: #ff6600;
    text-shadow: 0 0 15px #ff6600;
}
#ampm{
    font-size: 2rem;
    align-self: flex-end;
    padding-bottom: 10px;
    text-shadow: 0 0 10px #ff5500;
}

