@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle at center,#090909,#000000 90% );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.nixie-clock{
    display: flex;
    gap:15px;
    background: rgba(255,255,255,0.02);
    padding: 40px 70px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255,80,0,0.4);
    position: relative;
}
.tube{
     font-family: 'orbitron',sans-serif; 
    font-size: 6rem;
    background: radial-gradient(circle,#2a2a2a 30%,#000);
    color:#ff6600;
    padding: 20px 35px;
    border-radius: 20px;
    text-shadow: 0 0 20px #ff5500,
                  0 0 40px #ff7700,
                  0 0 80px #ff7700;
    box-shadow:  inset 0 0 20px #ff6600,
                  0 0 25px rgba(255,100,0,0.8);

}
.separtor{
    font-size: 6rem;
    color: #ff6600;
    text-shadow: 0 0 15px #ff6600;
}
#ampm{
    font-size: 2rem;
    align-self: flex-end;
    padding-bottom: 10px;
    text-shadow: 0 0 10px #ff5500;
}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle at center,#090909,#000000 90% );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.tube-container{
    position:relative;
    width: 200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outer-pipe{
    position: relative;
    width: 200px;
    height: 500px;
    border: 8px soid #ff8800;
    border-radius: 80px;
    box-shadow: 0 0 40px #ff6600,
                0 0 80px #ff6600,
               inset 0 0 40px #ff6600;
               /* opacity: 0.9;
               /* z-index: 1; */
   /* background: radial-gradient(circle at center ,rgba(255,120,0,0.5),rgba(0,0,0,0.8));
    display: flex;
    justify-content: center;
    align-items: center;
}

.tube-glass{
    position: absolute;
    width: 160px;
    height: 420px;
    background: radial-gradient(circle at center,rgba(255,100,0,0.5),rgba(0,0,0,0.85));
    border-radius: 60px;
    display: flex;
    flex-direction: colum;
    justify-content: space-around;
    align-items: center;
    /* gap: 15px; */
/*box-shadow: inset 0 0 30px rgba(255,120,0,0.3),
               0 0 30px rgba(255,100,0,0.2);*/
    /* z-index: 2; */
/*}

.digit{
    font-family: 'Orbitron',sans-serif;
    font-size: 4rem;
    color: #ff5500;
    text-shadow: 0 0 10px #ff7700,
                 0 0 30px #ff9900,
                 0 0 60px #ffaa00;
    animation: glowPluse 2s infinite alternate;
}
.label{
    font-size: 0.8rem;
    color:#ffbb55;
    opacity: 0.8;
    margin-top: -10px;

}

.tube-base{
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 40px;
    background: #1a1a1a;
    border-radius: 50%;
    box-shadow:  0 0 30px #ff6600,
                 inset 0 0 20px #ff5500;
                 z-index: 0;

}

.tube-reflection{
    position: absolute;
    top: 0;
    left: 10px;
    width: 20px;
    height: 100%;
    background: linear-gradient(180deg,rgba(255,255,255,0.2),rgba(255,255,255,0.05),transparent);
    border-radius: 40px;
    filter: blur(1px);
    opacity: 0.4;
} */