body{
    font-family: Arial,sans-serif;
    background: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

.quiz-container{
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
}
h2{
    margin-bottom: 20px;
}
.options button {
    display:block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.options button:hover{
    background: #c0e4ff;
}
.score{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}