body{
    background: radial-gradient(circle at center,#0b0b1f,#000);
    font-family: 'Poppins',sans-serif;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
h1{
    background: linear-gradient(90deg,blue,indigo,violet,red,#99FF33,#CC33FF,#FF66CC);
    -webkit-background-clip: text;/* for Chrome, Safari */
     background-clip: text; /* standard syntax */
    color:transparent;
    margin-top: 20px;
}

#galaxy{
    position: relative;
    width: 100%;
    height: 80vh;
   margin-top: 30px;
}
.planet{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}
.planet:hover{
    transform: scale(1.2) rotate(10deg);
}
.sun{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 40px yellow;
    }
.creature{
    position: absolute;
    font-size: 1.5rem;
    /* animation: orbit 6s linear infinite; */
    cursor: pointer;
    transition: transform 2s ease,filter 2s ease;
}
/* 
@keyframes orbit{
    from{
        transform: rotate(0deg) translateX(50px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(50px) rotate(-360deg);
} }*/

