/* body{
    font-family: "Poppins",sans-serif;
    background: linear-gradient(to right,#ffecd2,#fcb69f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding:20px;
    color:#333;

}
h1{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;

}
.chicken-box{
    background-color: #fff7e6;
    border: 2px solid #ffb347;
    border-radius: 12px;
    padding: 20px;
    margin: 10px 0;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}
.chicken-box:hover{
    transform: scale(1.02);
}
.year{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;

}
.reaction{
    /* font-size: 1rem; */
    /* background-color: #ffe5b4;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ffb347;
    /* margin-top: 5px; */
/* 
}
#final{
    font-size: 1.2rem;
    color: #ff4500;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
button,input{
    padding:10px 15px;
    margin:10px;
    border-radius: 8px;
    border:1px solid #ffb347;
    font-size: 1rem;
}
button{
    /* margin-top: 20px;
    padding: 10px 20px; */
   /* background-color: #ffb347;
    /* border: none;
    border-radius: 8px; */
    /*cursor: pointer;
    /* font-size: 1rem;
    transition: all 0.3s ease; 
}
button:hover{
    background-color: #ff7e5f;
    color: #fff;

} */

  body {
            font-family: Arial, sans-serif;
            background: #1b1b1b;
            color: white;
            text-align: center;
            padding: 40px;
        }

        .robot-box {
            width: 350px;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            background: #282828;
            box-shadow: 0 0 20px #00ffea;
        }

        button {
            width: 230px;
            padding: 12px;
            margin: 10px;
            border: none;
            border-radius: 6px;
            font-size: 17px;
            cursor: pointer;
            background: #00c8ff;
            color: black;
            transition: 0.3s;
        }

        button:hover {
            background: #03e1ff;
        }

        #output {
            margin-top: 20px;
            padding: 20px;
            min-height: 100px;
            background: #111;
            border-radius: 10px;
            box-shadow: inset 0 0 15px #00f7ff;
        }