 body { 
    font-family: Comic Sans MS, sans-serif;
     padding: 20px;
     }
    button {
         padding: 10px;
          margin: 5px; 
        }
    pre {
         background: #222;
          color: #0f0; 
          padding: 10px;
           height: 300px;
            overflow-y: auto;
         }