/* body {
  font-family: Arial;
  background: #fff8e6;
  padding: 20px;
} */

body {
  font-family: Arial;
  background: #fff8e6;
  padding: 20px;

  /* CENTER EVERYTHING */
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal center */
  justify-content: flex-start; /* top to bottom */
  min-height: 100vh;
}
h1 {
  text-align: center;
  color: #d14b00;
}

.input-section, .controls {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: #ff7f50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #ff5722;
}

#list li {
  background: white;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid #ffa500;
}

.deleteBtn {
  background: red;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

