  /* body { display:flex; justify-content:center; margin-top:50px; }
  canvas { border:1px solid black; background:#eee; } */
  body {
    font-family: Arial;
    text-align: center;
    background: #ffe9c4;
    padding-top: 50px;
  }
  .snack-btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    background: orange;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  #result {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
  }