
body {
    font-family: Arial;
    margin: 0;
    padding:0;
    background-color: rgb(122, 202, 255);
    color:black;
}

header {

    background: limegreen;
    color:rgb(7, 112, 12);
    text-align: center;
    padding:30px;
font-style: italic;
}

header h1{

    margin: 0;
    font-size: 2.5em;

}

.wellness-tips {
    padding: 20px;
}
.wellness-tips h2{
    color:aqua;

}
.wellness-tips li{
    background-color: beige;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid rgb(229, 255, 0);
    font-size: 1.3em;
    

}
.wellness-quote{
    text-align: center;
    background-color: rgb(160, 77, 238);
    padding:30px;
    font-size: 1.4em;
    margin:20px 0;

}

button{
    background-color: gray;
    font-display: 12px;
   /* border-width: 1px;
    border-style: solid;
    border-color: rgb(141, 211, 252);*/
    border: 2px solid rgb(15, 165, 103);
}
div{
    height: 60px;
    width: 40px;
    border-width: 40px;
    border-style: dashed ;
    border-color: blueviolet;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(4, 78, 78);
    color:chartreuse;
}

footer{
    text-align: center;
    background: rgb(240, 190, 146);
    color:rgb(59, 5, 5);
    padding:5px;
}
a{
    margin-right: 200px;

}
