
body{
    text-align: center;
}
div{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#container{
    display: flex;
    height: 600px;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}
#box1{
    background-color: brown;
  border-radius: 20% / 50%;
    

}
#box2{
    background-color: blueviolet;
     height: 400px;
     border-bottom-left-radius: 50%;
     border-top-right-radius: 70%;
     flex-grow: 1;
}
#box3{
    background-color: rgb(192, 11, 96);
    align-self: self-start;
    border-top-right-radius: 100%;
    flex-grow: 1;

}
#box4{
    background-color: rgb(19, 129, 5);
    align-self: self-end;
    border-radius: 50%;
    flex-shrink: 10;
}
#box5{
    background-color: rgb(44, 5, 94);
    border-bottom-color:pink ;
    border-start-start-radius: 20% 70%;
    border-bottom-right-radius: 50%;

}