.navbar{
    background-color: rgb(253, 137, 157);
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
   /* background-color: rgb(248, 247, 247);*/
    color: black;
}

li{
    list-style-type: none;
     display: flow-root;
}
.outer{
    height: 300px;
    width:500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner{
    height: 200px;
    width: 400px;
    background-color: blueviolet;
    align-self: flex-end;
}