body{
    background: #0b0b0b;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}
.container{
    text-align: center;
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px #ff6600;
    width: 300px;
}
h2{
    color:#ffb400;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #ffb400;
}
input{
    padding: 10px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin: 15px 0;

}
button {
    padding:10px 20px;
    background: #ff6600;
    color: white;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

}
button:hover{
    background: #ffc400;
}
#reslut{
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}